<div class="container">
  {{#if posts}}
  {{#each posts as |post| }}
  <div class="card text-decoration-none m-2 flex-row" style="width: 60rem;">
    <div class="card-body row" id={{post.id}}>
    <div class="card-image">
      <img src="{{post.upload}}" alt="">
    </div>
      <div class="card-header">
        <a href="/api/post/{{post.id}}" class="card-title text-decoration-none">
          {{title}}
        </a>
        <p class="card-text user-name">Created by
          {{user.username}}
          on
        </p>
      </div>
      <p class="card-text">
        {{body}}
      </p>
    </div>
    {{!-- delete button on dashboard --}}
    <div>
      {{!-- Remember to pass id to button and span in case user clicks anywhere --}}
      <button class="btn-alert delete-button" id={{post.id}}>
        <span class="material-icons"id={{post.id}}>delete_outline</span>
      </button>
      <a href="/dashboard/update/{{post.id}}">
      <button class="update-route" >
        Update Post
      </button>
      </a>
    </div>
  </div>
  {{/each}}
  {{else}}
  <h6> You don't have any posts yet. Click on make an observation and create your first one today!</h6>
  {{/if}}
  <script src="/js/delete-post.js"></script>
</div>